@import '../../css/legacy.scss';


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 20;
}
.footer-container {
  background-color: #38495a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  @extend %fontfamilySecondary;
}
  
.footer-row {
  display: flex;
  padding: 1rem;
  font-size: 0.9rem;

  li {
    list-style: none;
    font-size: 1rem;
    margin: 0 2rem;

    a {
      font-size: 1.2rem;
      text-decoration: none;
      color: white;
      transition: all 0.3s ease-in-out;

      &:hover {
          background-color: red;
          padding: 10px 15px;
          border-radius: 5px;
      }

    }
  }
}

@import './responsive.scss';
