<footer id="footer">
  <div class="footer-container" [class.dark-mode]="darkModeService.isDarkMode">
    <ul class="footer-row">
      <li><a href="https://ch.linkedin.com/in/alexis-grimonprez-16263493" target="_blank">Linkdin <i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="https://github.com/GrimonprezAlexis" target="_blank">Github <i class="fa-brands fa-github"></i></a></li>
      <li><a href="mailto:Alexis.grimonprez@gmail.com">Alexis.grimonprez@gmail.com <i class="fas fa-envelope"></i></a></li>
      <li><a href="tel:+33-6-69-77-12-18">+33 6 69 77 12 18 <i class="fas fa-phone"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>Tous droits réservés © 2023 - Alexis Grimonprez</p>
  </div>
</footer>
