<footer id="footer">
  <div class="footer-container">
    <ul class="footer-row">
      <li><a href="https://ch.linkedin.com/in/alexis-grimonprez-16263493" target="_blank">Linkdin <i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="https://github.com/GrimonprezAlexis" target="_blank">Github <i class="fa-brands fa-github"></i></a></li>
      <li><a href="mailto:Alexis.grimonprez@gmail.com">Alexis.grimonprez@gmail.com</a><i class="fas fa-envelope"></i> </li>
      <li><i class="fas fa-phone"></i> +33 6 69 77 12 18</li>
      <li><i class="fas fa-map-marker-alt"></i> France</li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>Tous droits réservés © 2023 - Alexis Grimonprez</p>
  </div>
</footer>
