  <header class="header" [class.dark-mode]="darkModeService.isDarkMode">
    <div class="container">

      <div class="container_logo">
        <a href="/" class="logo">Alexis Grimonprez</a>
        <span>Dévelopeur Fullstack JS</span>
      </div>
      
      <nav class="nav" aria-label="Site menu" role="navigation">
        <ul [class.dark-mode]="darkModeService.isDarkMode">
          <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">A propos <i class="fa-regular fa-user"></i></a></li>
          <li><a [routerLink]="['/portfolio']" routerLinkActive="router-link-active">Projets <i class="fa-solid fa-code"></i></a></li>
          <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact <i class="fa-solid fa-phone"></i></a></li>
          <li><a href="#">CV</a></li>
        </ul>
      </nav> 

      <label class="switch">
        <input type="checkbox" (click)="toggleDarkMode()">
        <span class="slider round">
          <i class="fa fa-sun"></i>
          <i class="fa fa-moon"></i>
        </span>
      </label>

      <button class="hamburger-menu" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>      
    </div>


    <nav class="navigation-mobile" aria-label="Site menu" role="navigation" *ngIf="showMenu">
      <div class="menu__items" *ngIf="showMenu">
        <a [routerLink]="['/about']" routerLinkActive="router-link-active" class="menu__item">A propos <i class="fa-regular fa-user"></i></a>
        <a [routerLink]="['/portfolio']" routerLinkActive="router-link-active" class="menu__item">Projets <i class="fa-solid fa-code"></i></a>
        <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="menu__item">Contact <i class="fa-solid fa-phone"></i></a>
        <a href="#" class="menu__item">CV</a>
      </div>
    </nav>

  </header>


