@import '../../css//legacy.scss';

/*--------------------------------------------------------------
# HEADER SCSS
--------------------------------------------------------------*/
$header-background-color: #fff;
$header-color: #38495a;
$header-nav-link-color: #777;

.container_logo {
  display: flex;
  flex-direction: column;

  span {
    letter-spacing: 0.25em;
  }
}

.header {
  background-color: $header-background-color;
  color: $header-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @extend %fontfamilyPrimary;


  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //max-width: 1200px;
    padding: 1rem 2rem;
    margin: 0 auto;

    .logo {
      @extend %fontfamilySecondary;
      font-size: 2rem;
      text-decoration: none;
      background: -webkit-linear-gradient(white, #38495a);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 5px;
    }

    .nav {
      @extend %fontfamilySecondary;
      
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
          margin-right: 4rem;
          transition:all 0.3s ease-in-out;
          &:hover {
            a {
              color: $header-color;
              &::before {
                visibility: visible;
                transform: scale(1, 1);
              }
            }
          }

          a {
            color: $header-nav-link-color;
            padding: 5px 7px;
            text-decoration: none;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              bottom: -10px;
              left: 0px;
              background-color: $header-color;
              transition: all 0.2s ease-in-out;
              transform: scale(0, 0);
              visibility: hidden;
            }
          }
        }
      }
    }
    .hamburger-menu {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      height: 24px;
      width: 35px;
      cursor: pointer;
      border: none;
      background-color: transparent;
    
      span {
        height: 3px;
        width: 100%;
        background-color: $header-color;
        display: block;
        transition: transform 0.3s ease;
    
        &:nth-child(1) {
          transform-origin: left;
        }
    
        &:nth-child(3) {
          transform-origin: right;
        }
      }
    
      &.active {
        span {
          &:nth-child(1) {
            transform: rotate(45deg) translate(3px, 3px);
          }
    
          &:nth-child(2) {
            opacity: 0;
          }
    
          &:nth-child(3) {
            transform: rotate(-45deg) translate(3px, -3px);
          }
        }
      }
    }

  }
}


$menu-bg: #f2f2f2;
$burger-color: #000;

.menu__items {
  padding: 10px;
  margin: 10px 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.menu__item {
  color: $burger-color;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.2s;
  margin: 20px 0;
  font-size: 18px;
  color: #3d3d3d;
  text-decoration: none;
  transition: opacity 0.3s;
  text-align: center;

  &:hover {
    background-color: #fff;
  }
}


.router-link-active {
  font-weight: bold;
  border-top: 3px solid $header-color;
  color: $header-color!important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;

    .fa-sun, .fa-moon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .fa-sun {
      left: 8px;
      color: #f1c40f;
    }

    .fa-moon {
      right: 10px;
      color: #f39c12;
    }
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #333;

    .fa-sun {
      opacity: 0;
    }

    .fa-moon {
      opacity: 1;
    }
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@import './responsive.scss';
