<!-- FILTERS-->

<section class="container slider-container" id="filter">

    <div class="arrow left">
        <i class="fa fa-chevron-left"></i>
    </div>

    <div class="carousel-container">
        <ul class="search__filter__list" #categoryList>
            <li 
                *ngFor="let t of technologiesWithIcons; let i = index" 
                (click)="setCurrentTechno(t.technologie)" 
                [ngClass]="{ 'isActive': t.technologie === currentTechno }"
            >
              <span class="search__filter__title">{{ t.technologie }}</span>
              <span class="search__filter__icon">
                <i class="{{ t.icon }}"></i>
              </span>
            </li>
          </ul>
      </div>

      <div class="arrow right">
        <i class="fa fa-chevron-right"></i>
    </div>
</section>