// Variables de typographie
$base-font-size: 16px;
$white: #fff;
$black: #000;
$blue: #1c6e8c;
$black2 : #44484c;

%fontfamilyPrimary {
  font-family: Lato,Helvetica,Arial,sans-serif;
}

%fontfamilySecondary {
  font-family: MontSerrat,Tahoma,Arial,sans-serif;
}

%container {
    margin-inline: auto;
    margin-block: 0 60px;
    padding-inline: 30px;
    max-width: 1200px;
    font-size: $base-font-size;
    margin-top: 100px;
}

.container {
  @extend %container;
  max-width: inherit;
}

%basePage {
  @extend %fontfamilyPrimary;
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: $base-font-size;
  color: $white;
}

h2, h3 {
  @extend %fontfamilySecondary;
}

h2 {
    font-weight: 100;
    font-size: 28px;
}

a {
    text-decoration: none;
    color: inherit;
}



%title {
  color: $black2;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: .0025em;
}
