<div class="custom-modal" tabindex="-1" role="dialog" aria-hidden="true" #modalElement>
  <div class="modal-dialog custom-modal-dialog" role="document">
    <div class="modal-header custom-modal-header">
      <h2 class="custom-modal-title">{{ modalData.title }}</h2>
      <button type="button" class="close">
        <span aria-hidden="true" (click)="closeModal()">&times;</span>
      </button>
    </div>
    <div *ngIf="modalData" class="modal-content">
      <p class="subtitle">{{ modalData.subtitle }}</p>
      <div class="container-img">
        <img class="image" [src]="modalData.imageUrl" [alt]="modalData.title" *ngIf="modalData.imageUrl">
      </div>
      <p class="description">{{ modalData.description }}</p>

      <div class="modal-footer">
        <div class="technologies">
          <span class="icon" *ngFor="let icon of modalData.icons">
            <i [class]="icon"></i>
          </span>
        </div>
        <div class="links">
          <button class="button-style-outline" *ngIf="modalData.links.app_link !== '#'"><a href="{{ modalData.links.app_link }}" target="_blank">Voir le projet</a></button>
          <button class="button-style-outline"><a href="{{ modalData.links.repository }}" target="_blank">Repository</a></button>
          <button class="button-style-warning"><a href="{{ modalData.links.maquette }}" target="_blank">Maquette</a></button>
        </div>
      </div>
    </div>
  </div>
</div>