<section class="suggestions" id="projects">
    <div class="container">
        <h2>Mes projets</h2>

        <!-- FILTERS-->
        <section class="container" id="filter">
            <h3 class="search__filter__title">Filtres</h3>
            <ul class="search__filter__list">
                <li *ngFor="let categoryFilter of categoryFilters" (click)="setCurrentCategory(categoryFilter.label)">
                    <span class="search__filter__icon">
                        <i class="{{ categoryFilter.icon }}"></i>
                    </span>
                    <span class="search__filter__text">{{ categoryFilter.label }}</span>
                </li>
            </ul>
        </section>

        <div class="itemLength" *ngIf="portfolioData">
            <h3>{{ getFilteredItemList().length }} / {{ portfolioData.length }}</h3>
        </div>

        <div class="wrapper-grid">
            <div class="card fade-in-delay-{{ i }}" *ngFor="let item of getFilteredItemList(); let i = index">

                <!-- <footer>
                    <button (click)="editItem(i)">Edit</button>
                </footer> -->

                <a [href]="item.link" class="item-overlay">
                    <div class="image-container">
                        <img loading="lazy" [src]="item.image" [alt]="item.title">

                        <div class="overlay">
                              <span class="icon" *ngFor="let icon of item.icons">
                                <i class="{{ icon }}"></i>
                              </span>
                        </div>
                    </div>

                    <footer>
                        <p class="project-type">{{ item.title }}</p>
                        <h3 class="project-title">{{ item.description }}</h3>
                        <i class="{{ icon }}" *ngFor="let icon of item.icons" style="font-size: 1.5rem;     margin-right: 0.35rem;"></i>
                    </footer>
                </a>


                <!-- <div *ngIf="item.editing">
                    <form (submit)="saveItem(i)">
                      <label>Title:</label>
                      <input type="text" [(ngModel)]="item.title" name="title" />
              
                      <label>Description:</label>
                      <textarea [(ngModel)]="item.description" name="description"></textarea>
              
                      <label>Link:</label>
                      <input type="text" [(ngModel)]="item.link" name="link" />
              
                      <button type="submit">Save</button>
                    </form>
                </div>
                <button (click)="toggleEdit(item)">Edit</button> -->


            </div>
        </div>

    </div>
</section>
