@import '../../css//legacy.scss';
@import './animations.scss';

#projects {
  @extend %basePage;
}

.container {
  @extend %container;
}

#filter {
  display: flex;
  flex-wrap: wrap;
  clear: both;
}

.search__filter__title {
  align-self: center;
  padding-right: 20px;
  font-weight: bold;
  color: $white;
}

.search__filter__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;

  li {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 35px;
    padding-right: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background: $blue;
      color: $black;
      border: 1px solid $black;

      .search__filter__icon {
        background: $black;
        color: $blue;
      }
    }
  }
}

.search__filter__icon {
  display: flex;
  background: $white;
  color: #111;
  border-radius: 50%;
  align-items: center;
  margin: -2px;
  min-height: 3rem;
  min-width: 3rem;
  justify-content: center;
  transition: background-color 0.3s ease;

  /** Force size icon Fontawesome */
  i {
    font-size: 1.3rem;
    margin: 0 0.25em;
  }
}

.search__filter__text {
  padding-left: 12px;
  color: $white;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.itemLength {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 20px;
}

.card {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fade-item-menu 1s linear;
  -moz-animation: fade-item-menu .6s; // Firefox
  -webkit-animation: fade-item-menu .6s; // Safari et Chrome
  -o-animation: fade-item-menu .6s; // Opera
  animation-fill-mode: both;
}

.image-container {
  position: relative;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  &:hover .overlay {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    display: inline-block;
    margin-right: 10px;

    i {
      font-size: 3.5rem;
      margin: 0 0.25em;
      color: $white;
    }
  }
}

footer {
  padding: 20px;
  margin-top: -3px;
}

.project-type {
  opacity: 65%;
}

.project-title {
  font-family: "DM Serif Display",serif;
  font-weight: 600;
  font-size: 17px;
  margin-block: 14px 10px;
}

#projects>div>div>div:nth-child(8)>a>footer {
  background: #ff0100;
}
#projects>div>div>div:nth-child(7)>a>footer {
  background: #ff6060;
}
#projects>div>div>div:nth-child(6)>a>footer {
  background: #34a393;
}
#projects>div>div>div:nth-child(5)>a>footer {
  background: #b9b95b;
}
#projects>div>div>div:nth-child(4)>a>footer {
  background: #90725d;
}
#projects>div>div>div:nth-child(3)>a>footer {
  background: #adbbbd;
}
#projects>div>div>div:nth-child(2)>a>footer {
  background: #e0a876;
}
#projects>div>div>div:first-child>a>footer {
  background: #aa4c20;
}

@import './responsive.scss';