<section id="admin">
    <div class="container">
        <h2>Admin</h2>
        <form>
          <label for="title">title:</label>
          <input type="text" id="title" name="title" required>

          <label for="description">description:</label>
          <input type="text" id="description" name="description" required>

          <label for="description">description:</label>
          <input type="text" id="description" name="description" required>

          <label for="link">link:</label>
          <input type="text" id="link" name="link" required>

          <label for="icons">icons:</label>
          <input type="text" id="icons" name="icons" required>

          <label for="images">images:</label>
          <input type="image" alt="Submit" width="48" height="48">

          <label for="categories">categories:</label>
          <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
          
          <button type="submit">Envoyer</button>
        </form>
    </div>
</section>