<section id="about">
    <div class="container">

      <div class="container-stack">
        <h2>Compétences</h2>
        <ul class="stack">
          <li class="angular">Angular <i class="fa-brands fa-angular"></i></li>
          <li class="aws">AWS <i class="fa-brands fa-aws"></i></li>
          <li class="nodejs">Node.js <i class="fa-brands fa-node-js"></i></li>
          <li class="php">PHP <i class="fa-brands fa-php"></i></li>
          <li class="react">React <i class="fa-brands fa-react"></i></li>
          <li class="sass">SASS <i class="fa-brands fa-sass"></i></li>
          <li class="typescript">Typescript <i class="fa-brands fa-js"></i></li>
          <li class="git">Git <i class="fa-brands fa-git-alt"></i></li>
        </ul>
      </div>

      <h2>A propos de moi</h2>
      <div class="row">
        <div class="col-4">
          <img src="../../../assets/img/me.jpg" alt="Ma photo de profil">
          <span>GitHub : <a href="https://github.com/GrimonprezAlexis" class="github">GrimonprezAlexis <i class="fa-brands fa-github"></i></a></span>
        </div>

        <div class="col-8">
            <p>En tant que développeur Full Stack spécialisé en JavaScript, je crée des applications Web performantes et évolutives pour le front-end et le back-end. 
            </p><br>
            
            <p>Passionné par la résolution de problèmes et la création de produits à impact positif, j'ai acquis mes compétences en travaillant sur des projets de petite et grande envergure, y compris des applications aux règles métiers complexes. 
            </p><br>

            <p>J'utilise React, Angular, Sass, Bootstrap et Material UI pour créer des interfaces utilisateur réactives et esthétiques. 
            Pour le back-end, je travaille avec PHP, Node.js, Express, MongoDB et MySQL pour créer des API REST, des bases de données efficaces et des applications performantes. 
            </p><br>

            <p>Je suis également compétent en gestion de versions avec Git et GitHub, ainsi qu'en méthodologies de développement Agile pour garantir des livraisons à temps et dans les limites du budget. 
            </p><br>
            
            <p>J'ai développé ce site web en utilisant Angular, et j'ai travaillé sur divers projets OpenClassroom, créant des applications fluides pour les utilisateurs finaux. 
            </p><br>
            
            <p>Je suis également capable de créer des designs et des maquettes pour répondre aux besoins des clients. 
              Toujours à la recherche de nouveaux projets innovants et stimulants, je suis disponible pour discuter de vos besoins et travailler ensemble pour vous aider à réaliser vos objectifs. 
            </p><br>

            <span>Contactez-moi pour en savoir plus.</span>

<!-- 
            <p>
              Bienvenue sur ma page à propos ! Je suis un développeur Full Stack spécialisé en JavaScript, et j'ai une expérience solide dans la création d'applications Web performantes et évolutives à la fois pour le front-end et le back-end.
            </p><br>

            <p>
              Je suis passionné par le développement de logiciels, la résolution de problèmes et la création de produits qui ont un impact positif sur la vie des utilisateurs.
            </p><br>

            <p>
              J'ai acquis mes compétences techniques en travaillant sur divers projets, allant de petites applications Web à grande échelle à des applications aux règles métiers complexes.
            </p><br>
            

            <p>
              Mon expérience en développement front-end comprend l'utilisation de technologies telles que React, Angular, Sass, Bootstrap et Material UI pour créer des interfaces utilisateur réactives et esthétiques.
            </p><br>
            
            <p>
              Pour le développement back-end, j'ai travaillé avec PHP, Node.js, Express, MongoDB, MySQL pour créer des API REST, des bases de données efficaces et des applications performantes.
            </p><br>
            
            <p>
              Je suis également compétent dans la gestion de versions avec Git et GitHub, ainsi que dans l'utilisation de méthodologies de développement Agile pour garantir que les projets sont livrés à temps et dans les limites du budget.
            </p><br>


            <p>
              J'ai développé ce site web en utilisant Angular, et je suis fier de partager mes différents projets avec vous.
            </p><br>

            <p>
              J'ai travaillé sur plusieurs projets OpenClassroom en tant que développeur Fullstack JS ou j'ai pu créer divers applications fluides et pour les utilisateurs finaux.
            </p><br>

            <p>
                En plus de mes travaux avec OpenClassroom, j'ai également travaillé avec divers professionnels pour créer des designs et des maquettes. 
                Mon expertise en tant que développeur Fullstack JS me permet 
                de comprendre comment les interfaces utilisateur doivent être développées pour répondre aux besoins des utilisateurs et des clients.
                J'adore travailler sur des projets innovants et stimulants, et je suis constamment en train d'explorer de nouvelles technologies pour m'améliorer en tant que développeur Fullstack JS. 
            </p><br>

            <p>
                Si vous êtes à la recherche d'un professionnel passionné et expérimenté pour vos prochain projets de développement ou de design, n'hésitez pas à me contacter. 
                Je serai ravi de discuter de vos besoins et de travailler avec pour vous aider à réaliser vos objectifs.
            </p><br> -->

        </div>
      </div>

    </div>
</section>