@import '../../css//legacy.scss';

#about {
    @extend %basePage;
}

.container {
    @extend %container;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.col-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.col-8 {
    flex-basis: 66.66%;
    max-width: 66.66%;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding-right: 2rem;
}

ul {
    list-style: square;
    list-style-position: inside;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 20px;
}

.container-stack {
    margin-bottom: 2rem;
}

.stack {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.angular:hover{
    color: red;
}
.aws:hover {
    color: #ff9900;
}
.nodejs:hover {
    color: #68a063;
}
.php:hover {
    color: #787cb4;
}
.react:hover {
    color: #61dbfb;
}
.sass:hover {
    color: #ce689b;
}
.typescript:hover {
    color: #2d79c7;
}
.git:hover, .github:hover {
    color: #f05133;
}

@import './responsive.scss';