<section id="about">
    <div class="container">
      <h2>A propos de moi</h2>

      <div class="row">
        <div class="col-4">
          <img src="../../../assets/img/me.jpg" alt="Ma photo de profil">
        </div>

        <div class="col-8">
            <p>
                Bienvenue sur ma page à propos ! Je suis un développeur Fullstack JS passionné, avec une expertise particulière en Angular et React. 
                J'ai développé mon propre site web en utilisant cette technologie, et je suis fier de partager mes différents projets avec vous.
            </p><br>

            <p>
                Je suis particulièrement fier de mon travail avec OpenClassroom, où j'ai travaillé sur plusieurs projets en tant que développeur Fullstack JS. Grâce à ma connaissance de Angular, 
                j'ai pu créer des interfaces utilisateur fluides et des expériences utilisateur exceptionnelles pour les utilisateurs finaux.
            </p><br>

            <p>
                En plus de mes travaux avec OpenClassroom, j'ai également travaillé avec divers professionnels pour créer des designs et des maquettes. Mon expertise en tant que développeur Fullstack JS me permet de comprendre comment les interfaces utilisateur doivent être développées pour répondre aux besoins des utilisateurs et des clients.
                J'adore travailler sur des projets innovants et stimulants, et je suis constamment en train d'explorer de nouvelles technologies pour m'améliorer en tant que développeur Fullstack JS. 
                Si vous êtes à la recherche d'un professionnel passionné et expérimenté pour vos projets de développement ou de design, n'hésitez pas à me contacter. Je serai ravi de discuter de vos besoins et de travailler avec vous pour créer des expériences exceptionnelles pour vos utilisateurs.
            </p><br>

            <p>
            Je suis un développeur passionné avec une solide expérience en développement web. 
            J'aime travailler avec les dernières technologies et je suis toujours à la recherche de nouveaux défis.
            </p><br>
            
            <p>Je suis spécialisé dans la création de sites web dynamiques et responsives, et j'ai une forte expérience avec 
            les frameworks front-end tels que Bootstrap et Materialize. 
            J'ai également une expérience avec des langages de programmation côté serveur tels que PHP et Node.js.</p>
        </div>
      </div>
      <h2>Compétences</h2>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>SASS</li>
        <li>Typescript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Bootstrap</li>
        <li>PHP</li>
        <li>Node.js</li>
        <li>AWS</li>

      </ul>
    </div>
</section>