.container {
    margin-inline: auto;
    margin-block: 0 60px;
    padding-inline: 30px;
    max-width: 1200px;
    font-family: Inter,sans-serif;
    font-size: 14px;
  }
  
  h2 {
    font-family: "DM Serif Display",sans-serif;
    font-weight: 100;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  
  .card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  
    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
  
    a.item-overlay {
      display: block;
      position: relative;
  
      img {
        display: block;
        max-width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
      }
  
      header {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: #34a393;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      }
  
      footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      }
  
      &:hover {
        img {
          transform: scale(1.1);
        }
  
        footer {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  
    p.project-type {
      margin: 0;
      font-size: 1rem;
    }
  
    h3.project-title {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  
  #app>section>section.suggestions>div>div>div:nth-child(6)>a>footer,#projects>div>div>div:nth-child(6)>a>footer {
    background-color: #34a393
  }
  
  #app>section>section.suggestions>div>div>div:nth-child(5)>a>footer,#projects>div>div>div:nth-child(5)>a>footer {
    background-color: #b9b95b
  }
  
  #app>section>section.suggestions>div>div>div:nth-child(4)>a>footer,#projects>div>div>div:nth-child(4)>a>footer {
    background-color: #90725d
  }
  
  #app>section>section.suggestions>div>div>div:nth-child(3)>a>footer,#projects>div>div>div:nth-child(3)>a>footer {
    background-color: #adbbbd
  }
  
  #app>section>section.suggestions>div>div>div:nth-child(2)>a>footer,#projects>div>div>div:nth-child(2)>a>footer {
    background-color: #e0a876
  }
  
  #app>section>section.suggestions>div>div>div:first-child>a>footer,#projects>div>div>div:first-child>a>footer {
    background-color: #aa4c20
  }