<div class="container">
  <div class="login-container">
    <h1>Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <div>
        <label for="username-input">Email address</label>
        <input
          type="text"
          id="username-input"
          formControlName="email"
          placeholder="Enter email"
        />
        <small
          *ngIf="
            loginForm.get('email')?.touched &&
            loginForm.get('email')?.hasError('required')
          "
        >
          Please enter email address!
        </small>
  
        <small
          *ngIf="
            loginForm.get('email')?.touched &&
            loginForm.get('email')?.hasError('email')
          "
        >
          Email address not well formed!
        </small>
      </div>
  
      <div>
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          id="password-input"
          formControlName="password"
          placeholder="Password"
        />
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
        Submit
      </button>
    </form>
  </div>
</div>
