<div class="container">
  <div class="login-container">
    <h1>Login</h1>

    <form 
      name="loginForm" 
      #f="ngForm" 
      (ngSubmit)="f.form.valid && onSubmit()"
    >
      <div>
        <label for="email-input">Email address</label>
        <input
          type="email"
          name="email"
          id="email-input"
          [(ngModel)]="loginForm.username"
          #email="ngModel"
          placeholder="Enter email"
          required
        />
        <div *ngIf="email.errors && f.submitted">
          <small *ngIf="email.errors['required']">Please enter email address.!</small>
          <small *ngIf="email.errors && email.errors['email']">Email address not well formed.!</small>
        </div>
      </div>
  
      <div>
        <label for="input-password">Password</label>
        <input
          type="password"
          name="input-password"
          id="input-password"
          [(ngModel)]="loginForm.password"
          #password="ngModel"
          placeholder="Password"
          required
          minlength="5"
        />
        <div *ngIf="password.errors && f.submitted">
          <small *ngIf="password.errors['required']">Please enter password !</small>
          <small *ngIf="password.errors['minlength']">Password must be at least 5 charavters !</small>

        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </form>

    <!-- <div class="social-buttons">
      <button class="social-button google">Login with Google</button>
      <button class="social-button facebook">Login with Facebook</button>
      <button class="social-button apple">Login with Apple</button>
    </div> -->
  </div>
</div>