<app-loader [isLoading]="isLoading" />

<app-project-modal *ngIf="selectedProject" [data]="selectedProject"/>  

<section class="suggestions" id="projects" [class.dark-mode]="darkModeService.isDarkMode">
    <div class="container">
        <h2 class="title" [class.dark-mode]="darkModeService.isDarkMode">Mes projets</h2>

        <app-filter-carousel 
            [currentCategory]=currentCategory 
            (newCurrentCategory)="updateCurrentCategory($event)"
        />
        
        <div class="wrapper-grid">
            <div 
                class="card fade-in-delay-{{ i }}" 
                *ngFor="let project of getFilteredProjectList(); let i = index"
            >
                <div 
                [routerLink]="['/projects', project.id]"
                class="project-overlay">
                    <div class="image-container">
                        <img loading="lazy" [src]="project.image" [alt]="project.title">

                        <div class="overlay">
                              <span class="icon" *ngFor="let icon of project.icons">
                                <i class="{{ icon }}"></i>
                              </span>
                        </div>
                    </div>

                    <footer [class.dark-mode]="darkModeService.isDarkMode">
                        <p class="project-type">{{ project.title }}</p>
                        <h3 class="project-title">{{ project.description }}</h3>
                        <i class="{{ icon }}" *ngFor="let icon of project.icons" style="font-size: 1.5rem;     margin-right: 0.35rem;"></i>
                    </footer>
                </div>
            </div>
        </div>

    </div>
</section>


