<app-loader [isLoading]="isLoading" />

<ng-container *ngIf="modal$ | async as modalComponent">
    <div class="container-fluid">
      <app-modalProject/>
    </div>
  </ng-container>

<section class="suggestions" id="projects" [class.dark-mode]="darkModeService.isDarkMode" *ngIf="projects && !isLoading">
    <div class="container">
        <h2 class="title" [class.dark-mode]="darkModeService.isDarkMode">Mes projets</h2>

        <app-filter-carousel 
            [currentTechno]=currentTechno 
            (newCurrentTechno)="updateCurrentTechno($event)"
            [technologiesWithIcons]="technologiesWithIcons"
            *ngIf="!hasError"
        />
        <app-alert [alert]="alert" *ngIf="hasError" />
        <!-- <button type="button" class="button-style-danger delay" (click)="getProjectFromLocal()" *ngIf="hasError">Charger les données local</button> -->
        
        <div class="wrapper-grid">
            <div 
                class="card fade-in-delay-{{ i }}" 
                *ngFor="let project of getProjectsByTechnology(); let i = index"
            >
                <div class="bar"><h2>{{ project.title }}</h2><i></i></div>

                <div class="project-overlay">
                    <div class="image-container">
                        <img loading="lazy" [src]="project.imageUrl" [alt]="project.title" *ngIf="project.imageUrl">

                        <div class="overlay">
                            <div class="project-tags">
                                <button class="btn" *ngFor="let techno of project.technologies" (click)="updateCurrentTechno(techno)">{{techno}}</button>
                            </div>
                        </div>
                    </div>

                    <footer [class.dark-mode]="darkModeService.isDarkMode">
                        <div class="footer-sub">
                            <h3 class="project-title">{{ project.subtitle }}</h3>                            
                        </div>

                        <div class="project-action">
                            <button 
                                type="button" 
                                class="button-style" 
                                (click)="goToProjectUrl(project.links.app_link)" 
                                *ngIf="project.links.app_link !== '#'"
                            >
                                Voir le projet
                            </button>
                            <button 
                                type="button" 
                                class="button-style-outline" 
                                (click)="openProjectModal(project)"
                            >
                                Plus de détail
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

    </div>
</section>


