/* You can add global styles to this file, and also import other style files */
@import "./app/css/reset.scss";


.dark-mode {
    background-color: #000000!important;
    color: #fff!important;

    a, span, i {
        color: #fff!important;
    }
    
}